
<nav class="nav">
  <div class="nav-items">
    <i class="bi bi-list"></i>
    <p class="fs-2"><%= page %></p>
    <i class="bi bi-search"></i>
 </div>
  <div class="sign-out">
    <%= link_to "sign out", destroy_user_session_path, method: :delete, class: "form-control me-2 p-3" %>
  </div>
   
</nav>
