<nav class="header">
  <div class="brand">
    <%= image_tag(image_path("BIZZ-01.png"), alt: "logo", class: "logo-img") %>
  </div>
  <div class="text-center">
    <p><%= page %></p>
  </div>
  <div class="sign-out">
    <%= link_to "sign out", destroy_user_session_path, method: :delete %>
  </div>
</nav>