:root {
  --blue-color: #3778c2;
  --green-color: #5fb523;
}

body {
  background: #fcfcfc;
}

.container {
  margin-top: 10px;
}

.splash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.splash-logo {
  width: 25%;
}

.logo {
  width: 15%;
}

.new-cate {
  color: white;
  text-decoration: none;
}

.splash p {
  font-size: 0.7rem;
  margin-bottom: 60px;
  font-weight: 600;
}

.btn-primary-custom {
  color: white;
  background-color: var(--blue-color);
  font-size: 1rem;
  padding: 0.5rem 3rem;
  margin-bottom: 40px;
  text-decoration: none;
}

.amount p {
  color: black;
  font-weight: 700;
}

.btn-primary-custom:hover {
  color: white;
  background-color: var(---color);
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
}

.card-img {
  display: flex;
  flex-basis: 20%;
  object-fit: contain;
}

.card-items {
  display: flex;
  flex-basis: 50%;
  justify-content: space-between;
}

.new-form {
  margin-top: 2rem;
}

footer {
  color: white;
  background-color: var(--green-color);
  font-size: 1rem;
  width: 100%;
  height: auto;
  padding: 1rem 3rem;
  margin-top: 60px;
}
