body {
  background: #fcfcfc;
}

.splash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.splash p {
  margin-bottom: 60px;
  font-weight: 600;
}

.btn-primary-custom {
  color: white;
  background-color: #3778c2;
  font-size: 1rem;
  padding: 1rem 13rem;
  margin-bottom: 40px;
  text-decoration: none;
}

.btn-primary-custom:hover {
  color: white;
  background-color: #3778c2;
}
