.registration-head {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0.5rem;
  color: #fff;
  background-color: var(--blue-color);
}

.registration-button {
  border: none;
  background-color: var(--blue-color);
  color: #fff;
}

.form-input {
  border: none;
  width: 100%;
}

.form-div {
  border-bottom: solid #e5e4e2 1px;
  padding: 1rem 0;
  margin: 0 1rem;
}

input:focus {
  outline: none;
  border: none;
}

.registration-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.question {
  color: #b6b6b4;
}

.new-save {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 0.5rem;
  color: #fff;
  background-color: var(--blue-color);
}

#transactions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.total {
  width: 100%;
  border: solid 1px #b6b6b4;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.8rem;
  background-color: #fff;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
