
<%= render partial: 'partials/header', locals: { page: 'NEW CATEGORY' } %>
<div class="input-group">
  <%= link_to categories_path, class: "back-link" do %>
    <i class="bi bi-arrow-left"></i>
  <% end %>
    <i class="bi bi-list"></i>
</div>
<%= render "form", category: @category %>

