
<%= render partial: 'partials/header', locals: { page: 'NEW TRANSACTION' } %>
<div class="new-head">
  <%= link_to transactions_path(category_id: 1), class: "back-link" do %>
    <i class="bi bi-arrow-left"></i>
  <% end %>
</div>

<%= render "form", transaction: @transaction %>
